<div class="">
	<div class="page-header">
		<h1 class="text-primary">{{movie.title}} <small>- {{movie.category.name}}</small></h1>
	</div>
	<div class="text-center">

		<div class="row">
			<div class="col-md-4 col-sm-12">
				<img ng-src="{{movie.image}}" class="img-rounded">
				<br><br>
				<div>
					<button ng-show="movie.isliked == false" ng-click="like(true)" class="btn btn-success">
						<span class="glyphicon glyphicon-thumbs-up"></span> Like
					</button>
					<button ng-show="movie.isliked == true" ng-click="like(false)" class="btn btn-danger">
						<span class="glyphicon glyphicon-thumbs-down"></span> Dislike
					</button>
				</div>
			</div>
			<div class="col-md-8 col-sm-12">
				
				<div>
					<h3 class="text-left text-primary">description / synopsis</h3>
					<p style="text-align: justify;">{{movie.description}}</p>
				</div>
				
				<div>
					<h3 class="text-left text-primary">Trailer</h3>
					<iframe src="{{movie.trailerUrl}}" class="pull-left" style="width:480px; height:270px" frameborder="0"></iframe>
					<div class="clearfix"></div>
				</div>

				<div ng-comments comments="movie.comments" user-id="null" movie-id="movie.id"></div>
			</div>
		</div>
	</div>
</div>