/**
 * USE ASSETS PROJECT CSS
 */

.movie-item {
	text-align: center;
	margin: 15px;
	width: 200px;
	float: left;
	height: 260px;
	position: relative;
}
.movie-item .movie-item-footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
.movie-item img {
	width: 90px;
}