<div class="page-header">
	<h1 class="text-primary">{{profile.firstname}} {{profile.lastname}} <small>as {{profile.username}}</small>
		<div class="pull-right">
			<button ng-hide="editMode" ng-click="toggleMode()" class="btn btn-info">
				<span class="glyphicon glyphicon-pencil"></span> Edit profile
			</button>
			<button ng-show="editMode" ng-click="toggleMode()" class="btn btn-info">
				<span class="glyphicon glyphicon-chevron-left"></span> Back
			</button>
		</div>
	</h1>
</div>

<!-- EDIT PROFILE -->

<div ng-show="editMode">
	<div ng-user-form profile="profile"></div>
</div>

<!-- SHOW PROFILE -->
<div ng-hide="editMode">
	<address>
		<strong>{{profile.city}}</strong><br>
		{{profile.birthday | date:'fullDate'}}<br>
		<a href="mailto:{{profile.email}}">{{profile.email}}</a>
	</address>

	<h3 class="text-left text-primary">Comments ({{profile.comments.count}})</h3>
	<div ng-comments comments="profile.comments" user-id="profile.id" movie-id="null"></div>
</div>
